.footer {
   background-color: #279cd6;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-email, .footer-whatsapp {
  margin: 0 10px;
}